.cf-debugger-blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.cf-debugger-opacity {
  -webkit-filter: opacity(10%);
  filter: opacity(10%);
}

.cf-debugger-saturate {
  -webkit-filter: saturate(7);
  filter: saturate(7);
}

.cf-debugger-grayscale {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cf-debugger-invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.cf-debugger-popup {
  margin: 0em 0em 0.71428571em;
  display: none;
  position: absolute;
  min-width: min-content;
  border: 1px solid #D4D4D5;
  line-height: 1.4285;
  /*background: #FFFFFF;*/
  background-color:rgb(33, 33, 36);
  padding: 0.833em 1em;
  font-weight: normal;
  font-style: normal;
  /*color: rgba(0, 0, 0, 0, 0.87);*/
  color: #FFFFFF;
  border-radius: 0.28571429rem;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12),
    0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  z-index: 2000;
}

/*.cf-debugger-popup::before {
  bottom: -0.30714286em;
  left: 1em;
  top: auto;
  right: auto;
  margin-left: 0em;
  background-color:rgb(33, 33, 36);
  position: absolute;
  content: '';
  width: 0.71428571em;
  height: 0.71428571em;
  transform: rotate(45deg);
  z-index: 1999;
  box-shadow: 1px 1px 0px 0px #bababc;
  box-sizing: inherit;
}*/

.cf-debugger-popup::before {
  bottom: auto;
  left: -0.30714286em;
  top: 1em;
  right: auto;
  margin-left: 0em;
  background-color:rgb(33, 33, 36);
  position: absolute;
  content: '';
  width: 0.71428571em;
  height: 0.71428571em;
  transform: rotate(45deg);
  z-index: 1999;
  box-shadow: 0px 0px 0px 0px #bababc;
  box-sizing: inherit;
}