.cf-debugger-blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.cf-debugger-opacity {
  -webkit-filter: opacity(10%);
  filter: opacity(10%);
}

.cf-debugger-saturate {
  -webkit-filter: saturate(7);
  filter: saturate(7);
}

.cf-debugger-grayscale {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cf-debugger-invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* HOVER STYLES */
.cf-debugger-popup {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
  z-index: 999;
}
