table {
  table-layout: fixed 
}
table td {
  word-wrap: break-word;
}


.ui.accordion .active.content, .ui.accordion .accordion .active.content {
  display: table-row;
}

/* Ricky */
.dark-background {
  background-color:rgb(33, 33, 36);
}
.border-noradius {
  border-radius: 0 !important;
}
.zero-magin-bottom {
  margin-bottom: 0px !important;
}
.zero-magin-top {
  margin-top: 0px !important;
}

.padding-top {
  padding-top: 40px;
}

.ui.container {
  width: 100% !important;
}

.overview-column {
  border-style: solid;
  border-width: 0.1px;
  text-align: center;
}

.row {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.chart-title {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.msecond {
  text-transform: lowercase;
  font-size: 15px;
}

.percent-char {
  font-size: 15px;
}

.bytes-char {
  font-size: 15px;
}

.td-collapsed {
  border-width: 0px !important;
  padding: 0px !important;
}

.hiddenTableRow {
  display: none;
  padding: 30px;
}

.hiddenTableRow .item .label {
  width: 100px;
}

tr[reqid] {
  cursor: pointer;
}

.table-stats-item {
  padding: 30px;
}

table {
  background: transparent !important;
  margin-bottom: 100px !important;
  border: 0.1em solid !important;
  border-color: black !important;
}

.table-no-row {
  text-align: center;
  height: 300px;
  font-size: 15px;
}

.highlight {
  background-color: rgba(254, 241, 96, 0.4);
  color: white;
  font-weight: bold;
}

.cdncgi-segment {
  margin-top: 2px !important;
  height: 500px;
}

.cdncgi-pre {
  color: lightgreen;
  font-size: 1.2em;
  padding: 20px;
  border-style: dashed;
  border-width: 0.1px;
}


